<h1>View the order</h1>
<p>Filename: <%= @inputfile.name %></p>
<p><%= link_to "View Input File", @inputfile.attachment_url %></p>
<textarea class="item-display-text"><%= File.read(@image_link) %></textarea>
<p>Target Price: <%= @target_price %></p>

<% if @number_of_items == 0 %>
  <p>There is no combination of menu items that adds up to exactly $<%= @target_price %></p>
<% else %>
  <p>Number of items: <%= @number_of_items %></p>
  <table class = "table table-bordered table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>

    <tbody>
      <% @item_hash.each do |item_name, item| %>
      <tr>
        <td><%= item.name %></td>
        <td>$<%= item.price %></td>
        <td><%= item.quantity %></td>
        <td>$<%= (item.price * item.quantity).round(2) %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>