<!DOCTYPE html>
<html>
<head>
  <title>RailsRestaurants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">Restaurant Challenge</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="<%= inputfiles_path %>">Menu Calculator</a></li>
      </ul>
    </div>
  </nav>
  <div class="wrapper">
    <%= yield %>
  </div>

   <footer class="footer">
      <div class="container">
        <p>Copyright &copy; Kevin Mark 2016</p>
      </div>
    </footer>
</body>
</html>
